:root {
  --bg-color: #0f0f0f;
  --hero-color: #2a2a2a;
  --primary-color: #00ab67;
  --blue-color: rgba(15, 121, 219, 0.884);
  --red-color: rgb(252, 13, 13);
  --txt-color: #ffffff;
  --gray: #999;
}
* {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: var(--bg-color);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 44px;
}
.navbar {
  margin-right: 50px;
  display: flex;
  gap: 10px;
  background-color: transparent;
}
.logo {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.couleur img {
  max-height: 50px;
  max-width: 60px;
  padding: 8px;
}
.couleur img:hover {
  display: inline-block; /* permet que les elements qui reste sur la meme ligne */
  transform: rotate(360deg);
  transition: 1s;
}
.burger {
  display: none;
}

.conteneurburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ab67;
}
