#parcour {
  display: flex;
  justify-content: center;
}
.monparcour {
  margin-top: 7%;
  min-height: 70vh;
  margin-left: 15%;
  margin-right: 15%;
}
table {
  border: style 1px;
}
tr {
  display: flex;
}
td {
  padding: 5%;
  border-bottom: 1px solid#4b4949;
}
