/* variable et selecteur universel */
:root {
  --bg-color: #0f0f0f;
  --hero-color: #2a2a2a;
  --primary-color: #00ab67;
  --blue-color: rgba(15, 121, 219, 0.884);
  --red-color: rgb(252, 13, 13);
  --txt-color: #ffffff;
  --gray: #999;
}
* {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* voici le style de ma navbar avec sidebar pour mobile */

body {
  background-color: var(--bg-color);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 44px;
}
.navbar {
  margin-right: 50px;
  display: flex;
  gap: 10px;
  background-color: transparent;
}
.navbar:hover a:not(:hover) {
  color: #686767;
}
.logo {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.couleur img {
  max-height: 50px;
  max-width: 60px;
  padding: 8px;
}
.couleur img:hover {
  display: inline-block; /* permet que les elements qui reste sur la meme ligne */
  transform: rotate(360deg);
  transition: 1s;
}
.burger {
  display: none;
}

.conteneurburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ab67;
}
.vert {
  color: #00ab67;
}
button:hover {
  transform: scale(0.8);
  transition: 0.3s;
}
/* sidebar  */
.navbars .menuburger {
  position: absolute;
  top: 10px;
  right: 20px;
  /* left: 30px; */
}
.iconmenu {
  width: 100%;
  height: 100%;
}
.menuburger {
  display: none;
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 900px) {
  /* .navbar .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  } */
  .navbar {
    padding: 0;
  }
  .navbar {
    position: absolute;
    display: flex;
    background-color: rgba(238, 232, 232, 0.048);

    backdrop-filter: blur(7px);
    min-width: 100%;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-left: -100%;
    transition: all 0.5s ease;
    overflow-y: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuburger {
    display: block;
  }
  .navbars .navbar a:hover {
    transform: scale(1.25);
    transition: 0.2s;
  }
  .navbars .navbar a {
    color: #00ab67;
    margin: 25px 0;
    font-size: 1.5rem;
  }
}
.mobilemenu {
  margin-left: 0;
}
.none {
  display: none;
}
/* section hero  */
.hero {
  background-color: #2a2a2a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  min-width: 100%;
}

.imagehero img {
  max-height: 500px;
}
/* table {
  border: 1px solid;
  height: 50px;
} */

.texthero {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
button {
  margin-top: 20px;
  height: 30px;
  width: 110px;
  border-radius: 5px;
  border: none;
  background-color: #00ab67;
  color: #ffffff;
}
.texthero p {
  font-size: x-large;
  color: #999;
}

@media (max-width: 900px) {
  .hero {
    display: grid;
    grid-template-areas:
      "text"
      "info"
      "image";
  }
  .infohero {
    display: grid;
    grid-area: "info";
  }
  .texthero {
    display: grid;
    grid-area: "text";
  }

  .vertical {
    display: none;
  }
  * {
    padding-left: 0;
    padding-right: 0;
  }
  .vertical {
    width: 20px;
  }
}
@media (max-width: 600px) {
  .hero {
    gap: 20px;
    display: block;
  }
  .texthero {
    padding-top: 20px;
  }
  .imagehero {
    display: flex;
    justify-content: flex-end;
  }
}
/* ma section a propos */
#apropos {
  margin-top: 5%;
  margin-bottom: 5%;
}
.apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 70vh;
}
.textapropos {
  margin-right: 15%;
}
.imageapropos {
  margin-left: 15%;
  min-width: 200px;
  max-height: 70vh;
  padding: 10px;
  text-align: right;
}
.imageapropos img {
  /* margin: 10px; */
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
.imageapropos :hover {
  transform: scale(1.5);
  position: -50px;
}
.listedecote {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
}
.cellule {
  padding: 2%;
  border-radius: 10px;
  background-color: #00ab67;
  color: #0f0f0f;
}
.listedecote:hover div:not(:hover) {
  transform: scale(0.8);
  transition: 0.3s;
}
.cellule:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.4s;
}
@media (max-width: 900px) {
  .textapropos {
    margin-right: 0;
  }
  .imageapropos {
    margin-top: 20px;
    margin-left: 0;
  }
  .imageapropos img {
    max-height: 300px;
  }
  .apropos {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .listedecote {
    display: block;
    gap: 20px;
  }
  .cellule {
    margin-top: 10px;
  }
}
/* ma section competences  */
.competence {
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  min-height: 70vh;
}

.savoirfaire p {
  color: #999;
}
.savoirfaire {
  display: grid;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #00ab67;
  padding: 5%;
  height: 180px;
}
.mescompetence:hover .savoirfaire:not(:hover) {
  border: none;
  transition: 0.5;
}
.savoirfaire:hover {
  box-shadow: 0 0 20px #00ab67;
}
.mescompetence {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
}
svg {
  height: 30px;
  width: 40px;
}
@media (max-width: 900px) {
  /* pour creer une animation qui fait apparaitre des elements */
  @keyframes reveal {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  /* la class pour faire apparaitre des animations */
  .apparaitre {
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
  }
  .mescompetence {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ma section parcour  */
#parcour {
  display: flex;
  justify-content: center;
}
.monparcour {
  margin-top: 7%;
  min-height: 70vh;
  margin-left: 15%;
  margin-right: 15%;
}
table {
  border: style 1px;
}
tr {
  display: flex;
}
td {
  padding: 5%;
  border-bottom: 1px solid#4b4949;
}
/* ma section contacts  */
#contact {
  background-color: #2a2a2a;
}
.contact {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
form {
  width: 85%;
}
input {
  padding-right: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
textarea {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
}
.travaillon {
  font-size: 2rem;
  color: white;
}
.ensemble {
  font-size: 1.5rem;
}
.textcontact {
  max-width: 50%;
}
.formulaire {
  max-width: 50%;
}

svg {
  color: #00ab67;
}
span {
  min-height: 60%;
}
/* mon footer  */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  padding: 5px;
}
.rien {
  height: 44px;
}
